@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 9.9px;
}

.right{
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.logo img{
    width: 77px;
}

.home li{
    display: flex;
    align-items: center;
    gap: 14.9px;
    list-style: none;
    width: 29px;
    padding-top: 14px;
    font-weight: 700;
    font-size: 15.4px;
    letter-spacing: 0.4px;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
    color: white;
}

.invert{
    filter: invert(1);
    width: 24px;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14.9px;
    list-style: none;
}

.footer{
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 9.9px 0;
}

.library{
    min-height: 75.4vh;
    position: relative;
}

.footer a{
    color: white;
    font-size: 9px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vw;
    padding-right: 4vw;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgb(34, 34, 34);
}

.cardContainer{
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
    margin: 14px 29px;
    overflow-y: scroll;
    max-height: 79vh;
}

.card{
    width: 12.9vw;
    border-radius: 7px;
    background-color: #212121;
    position: relative;
}
.card img{
    width: 12vw;
    height: 12vw;
    border-radius: 19px;
    object-fit: contain;
    padding: 0.45vw;
}
.card h2{
    padding-left: 9.7px;
    padding-right: 9.7px;
    padding-bottom: 9px;
    padding-top: 4.7px;
    font-size: 17px;
    letter-spacing: 0.2px;
}
.card p{
    padding-left: 9.7px;
    padding-right: 9.7px;
    padding-bottom: 17px;
    font-size: 14px;
    font-weight: 500;
    color: #c2c2c2dd;
}

.spotifyPlaylists > h1 {
    font-size: 22px;
    margin: 9px 20px;
}

.play{
    width: 34px; 
    height: 34px;
    background-color: #1ed55f; 
    border-radius: 50%;
    padding: 4px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 9vw;  
    /* 11vw */
    right: 19px;
    opacity: 1;
    transition: all 700ms ease-out;
}

.play img{
    height: 21px;
    width: 21px;
}

.buttons > *{
    margin: 0 7.9px;
}
.signupbtn{
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 119ms ease-in-out;
}

.signupbtn:hover{
    font-size: 18px;
    color: white;
}

.loginbtn{
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 49px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 119ms ease-in-out;
}

.loginbtn:hover{
    padding: 12px 24px;
    font-size: 17px;
}

.playbar{
    position: fixed;
    bottom: 29px;
    background-color: #1ed55f;
    width: 70vw;
    padding: 14px;
    border-radius: 49px;
}

.songbuttons{
    text-align: center;
}
.songbuttons img{
    width: 19px;
    height: 19px;
}

.songlist ul{
    padding: 19px 38px;
}

.songlist ul li{
    list-style: none;
    list-style-type: decimal;
    display: flex;
    gap: 14px;
    cursor: pointer;
    padding: 12px 19px;
    border: 1px solid white;
    margin: 12px 0;
    border-radius: 8px;
    width: 209px;
}

.songlist{
    height: 480px;
    margin-bottom: 29px;
    overflow-y: scroll;
}

.info{
    width: 94px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(228, 228, 228);
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 9.9px;
}